In [1]:
# Ελεγχος version pyspark .. Θέλουμε το 3.4.1
import pyspark
print(pyspark.__version__)

3.4.1

In [2]:
# add java to path .. δεν μπορουσα να βρω αλλον τροπο να τρέξει η spark.
# (θελουμε την Java 17 επειδη μονο η Java 8 , Java 11 και Java 17 δουλευει με το pyspark)
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-17"
os.environ["PATH"] += ";C:\\Program Files\\Java\\jdk-17\\bin"

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, avg, format_number
from pyspark.sql.types import FloatType
import pandas as pd

In [4]:
# Διαβάζομε τα δεδομένα

tour_occ_ninat = "data/tour_occ_ninat.xlsx"

excel_data = pd.read_excel(tour_occ_ninat, header=8)

In [5]:
# Κάνω το excel σε csv για να το βαλω στην spark , επειδη δεν μου δουλευε το spark-excel

excel_data.to_csv("data/excel_data.csv", index=False)

In [6]:
# Φτιάχνουμε ενα spark session
spark = SparkSession.builder.appName("EurostatAnalysis").getOrCreate()

In [7]:
# Διαβαζουμε το csv με την spark
spark_df = spark.read.option("header", "true").csv("data/excel_data.csv")

In [8]:
# Ενα print για να δουμε οτι διαβασαμε σωστα τα δεδομενα
spark_df.show(truncate=False)

+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|GEO/TIME                                        |2006     |2007     |2008     |2009     |2010     |2011     |2012     |2013     |2014     |2015     |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Belgium                                         |16039090 |16271311 |16360702 |15451017 |16169676 |16723867 |16432646 |16511721 |17068872 |18852087 |
|Bulgaria                                        |11944694 |12006786 |11791454 |9460922  |10547112 |12426723 |13451440 |14370426 |14077798 |13352281 |
|Czech Republic                                  |20090348 |20610186 |19987022 |17746893 |18365947 |19424839 |21793985 |22144896 |22110112 |23286515 |
|Denmark                                         |9453026  |9327579  |8918197  |8299403  |8981992  |9491137  |9608124  |9914273  |10608119 |11171416 |
|Germany (until 1990 former territory of the FRG)|52947373 |54485379 |56239679 |54096574 |59658760 |63081467 |68161503 |71191942 |74805253 |78827773 |
|Estonia                                         |3020367  |2915456  |2932662  |2740696  |3203721  |3748865  |3823039  |3909326  |3919299  |3770207  |
|Ireland                                         |21652000 |:        |:        |:        |:        |:        |11839245 |10871806 |11276424 |13462348 |
|Greece                                          |43055381 |48081473 |47973949 |57413304 |59184397 |65514230 |61054383 |68992640 |74675156 |78254524 |
|Spain                                           |224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|France                                          |105865432|108567043|106993811|98705212 |120390105|123227704|125038453|132251136|130908700|130464997|
|Croatia                                         |32858014 |33701925 |33902735 |33357844 |33234882 |35389002 |57079967 |59378896 |61072661 |65683010 |
|Italy                                           |156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|Cyprus                                          |13310257 |13197004 |13208954 |11666663 |12448158 |13112596 |13488127 |13152589 |12884399 |12550320 |
|Latvia                                          |1872393  |1935984  |2115618  |1699562  |1912336  |2257021  |2429093  |2639434  |2875934  |2873885  |
|Lithuania                                       |1514197  |1609998  |1626829  |1395899  |1571325  |1883003  |2680048  |2906201  |3033826  |3010727  |
|Luxembourg                                      |2399913  |2328688  |2249545  |2075831  |1717130  |2057883  |2298068  |2313124  |2513585  |2655733  |
|Hungary                                         |10045891 |10170808 |10009531 |9220148  |9358373  |9920339  |11392183 |11982883 |12351330 |12962395 |
|Malta                                           |7094031  |7749831  |7581137  |6550794  |7208295  |7361449  |7498421  |8172407  |8428215  |8542055  |
|Netherlands                                     |26886500 |27952200 |25267600 |25013700 |26799800 |27739000 |27845942 |31770508 |34423552 |37297588 |
|Austria                                         |70017089 |71518637 |74730956 |72224605 |72585976 |73647325 |77158431 |78433546 |78099096 |80304956 |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [9]:
# Αντικαθηστώ το ":" με 0 για να βγουν σωστά οι μέση όροι
# και οποιοδήποτε αλλο string γινεται 0
# και μετατρέπω τα strings σε float για μετεπιτα υπολογισμούς

year_columns = [col for col in spark_df.columns if col.startswith("20")]
for year_col in year_columns:
    spark_df = spark_df.withColumn(
        year_col,
        when(col(year_col).cast(FloatType()).isNotNull(), col(year_col).cast(FloatType())).otherwise(0.0)
    )

# Ερωτημα 3.1

In [10]:
# Βρίσκω τον μέσο όρο των στηλών για κάθε χρονο
year_columns = [str(year) for year in range(2007, 2015)]
average_columns = [col(column) for column in year_columns]
average_column = sum(average_columns) / len(average_columns)
result = spark_df.select("GEO/TIME", average_column.alias("AverageTourists")) \
    .groupBy("GEO/TIME").avg("AverageTourists")

In [11]:
result.show(truncate=False)

+------------------------------------------+--------------------+
|GEO/TIME                                  |avg(AverageTourists)|
+------------------------------------------+--------------------+
|Sweden                                    |1.137128175E7       |
|Turkey                                    |2.3396917E7         |
|France                                    |1.18260271E8        |
|Greece                                    |6.0361191E7         |
|Slovakia                                  |4234543.375         |
|Belgium                                   |1.63737265E7        |
|Finland                                   |5450927.375         |
|Malta                                     |7568818.625         |
|Croatia                                   |4.338973875E7       |
|Italy                                     |1.72326804E8        |
|Lithuania                                 |2088391.125         |
|Norway                                    |7966946.375         |
|Spain                                     |2.32243696E8        |
|Former Yugoslav Republic of Macedonia, the|625334.375          |
|Denmark                                   |9393603.0           |
|Ireland                                   |4248434.375         |
|Liechtenstein                             |149480.875          |
|Iceland                                   |2609967.0           |
|Cyprus                                    |1.289481125E7       |
|Estonia                                   |3399133.0           |
+------------------------------------------+--------------------+
only showing top 20 rows

# Ερωτημα 3.2

In [12]:
def compare_tourist_counts(countries):
    # Get the columns representing years
    year_columns = spark_df.columns[1:]  # Exclude the first column which should be the country names

    # Collect the country rows as a list
    data_rows = spark_df.collect()

    # Initialize a dictionary to store the results
    result = {country: [] for country in countries}

    # Compare tourist counts for each selected country against Greece
    for country in countries:
        country_row = [row for row in data_rows if row[0] == country]

        if country_row:
            country_row = country_row[0]
            for idx, year in enumerate(year_columns):
                year_val = int(year)  # Convert column names to integers for comparison
                greece_val = int([row for row in data_rows if row[0] == "Greece"][0][idx + 1])

                if country_row[idx + 1] < greece_val:  # Compare if the country value is less than Greece
                    result[country].append(year_val)

    return result

In [13]:

# Έβαλα τις πρώτες 5 χώρες

selected_countries = ["Belgium", "Bulgaria", "Czech Republic", "Denmark", "Germany (until 1990 former territory of the FRG)"]
result = compare_tourist_counts(selected_countries)

# Print the years where Greece had higher tourist counts than the selected countries
for country, years in result.items():
    if len(years) > 0:
        print(f"Για {len(years)} χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα '{country}' , Οι συγκεκριμένες χρονιές: {years}")
    else:
        print(f"Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα '{country}'")

Για 10 χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα 'Belgium' , Οι συγκεκριμένες χρονιές: [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Για 10 χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα 'Bulgaria' , Οι συγκεκριμένες χρονιές: [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Για 10 χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα 'Czech Republic' , Οι συγκεκριμένες χρονιές: [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Για 10 χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα 'Denmark' , Οι συγκεκριμένες χρονιές: [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Για 2 χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα 'Germany (until 1990 former territory of the FRG)' , Οι συγκεκριμένες χρονιές: [2009, 2011]