In [501]:
# Ελεγχος version pyspark .. Θέλουμε το 3.4.1
import pyspark
print(pyspark.__version__)

3.5.0

In [502]:
# add java to path .. δεν μπορουσα να βρω αλλον τροπο να τρέξει η spark.
# (θελουμε την Java 17 επειδη μονο η Java 8 , Java 11 και Java 17 δουλευει με το pyspark)
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-17"
os.environ["PATH"] += ";C:\\Program Files\\Java\\jdk-17\\bin"

In [503]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, monotonically_increasing_id
from pyspark.sql.types import FloatType
import pandas as pd

In [504]:
# Διαβάζομε τα δεδομένα

tour_occ_ninat = "data/tour_occ_ninat.xlsx"


excel_data = pd.read_excel(tour_occ_ninat, header=8)

In [505]:
# Κάνω το excel σε csv για να το βαλω στην spark , επειδη δεν μου δουλευε το spark-excel

excel_data.to_csv("data/excel_data.csv", index=False)

In [506]:
# Φτιάχνουμε ενα spark session
spark = SparkSession.builder.appName("EurostatAnalysis").getOrCreate()

In [507]:
# Διαβαζουμε το csv με την spark

spark_df = spark.read.option("header", "true").csv("data/excel_data.csv")

In [508]:
# Ενα print για να δουμε οτι διαβασαμε σωστα τα δεδομενα
spark_df.show(spark_df.count(), truncate=False)

+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|GEO/TIME                                        |2006     |2007     |2008     |2009     |2010     |2011     |2012     |2013     |2014     |2015     |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Belgium                                         |16039090 |16271311 |16360702 |15451017 |16169676 |16723867 |16432646 |16511721 |17068872 |18852087 |
|Bulgaria                                        |11944694 |12006786 |11791454 |9460922  |10547112 |12426723 |13451440 |14370426 |14077798 |13352281 |
|Czech Republic                                  |20090348 |20610186 |19987022 |17746893 |18365947 |19424839 |21793985 |22144896 |22110112 |23286515 |
|Denmark                                         |9453026  |9327579  |8918197  |8299403  |8981992  |9491137  |9608124  |9914273  |10608119 |11171416 |
|Germany (until 1990 former territory of the FRG)|52947373 |54485379 |56239679 |54096574 |59658760 |63081467 |68161503 |71191942 |74805253 |78827773 |
|Estonia                                         |3020367  |2915456  |2932662  |2740696  |3203721  |3748865  |3823039  |3909326  |3919299  |3770207  |
|Ireland                                         |21652000 |:        |:        |:        |:        |:        |11839245 |10871806 |11276424 |13462348 |
|Greece                                          |43055381 |48081473 |47973949 |57413304 |59184397 |65514230 |61054383 |68992640 |74675156 |78254524 |
|Spain                                           |224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|France                                          |105865432|108567043|106993811|98705212 |120390105|123227704|125038453|132251136|130908700|130464997|
|Croatia                                         |32858014 |33701925 |33902735 |33357844 |33234882 |35389002 |57079967 |59378896 |61072661 |65683010 |
|Italy                                           |156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|Cyprus                                          |13310257 |13197004 |13208954 |11666663 |12448158 |13112596 |13488127 |13152589 |12884399 |12550320 |
|Latvia                                          |1872393  |1935984  |2115618  |1699562  |1912336  |2257021  |2429093  |2639434  |2875934  |2873885  |
|Lithuania                                       |1514197  |1609998  |1626829  |1395899  |1571325  |1883003  |2680048  |2906201  |3033826  |3010727  |
|Luxembourg                                      |2399913  |2328688  |2249545  |2075831  |1717130  |2057883  |2298068  |2313124  |2513585  |2655733  |
|Hungary                                         |10045891 |10170808 |10009531 |9220148  |9358373  |9920339  |11392183 |11982883 |12351330 |12962395 |
|Malta                                           |7094031  |7749831  |7581137  |6550794  |7208295  |7361449  |7498421  |8172407  |8428215  |8542055  |
|Netherlands                                     |26886500 |27952200 |25267600 |25013700 |26799800 |27739000 |27845942 |31770508 |34423552 |37297588 |
|Austria                                         |70017089 |71518637 |74730956 |72224605 |72585976 |73647325 |77158431 |78433546 |78099096 |80304956 |
|Poland                                          |10555119 |10918100 |10173237 |9609447  |10064628 |10620264 |11876599 |12471268 |12992241 |13757657 |
|Portugal                                        |26842277 |28669799 |28126716 |25024678 |25386084 |27860103 |29033970 |32078773 |35630345 |38897329 |
|Romania                                         |3242105  |3586439  |3359244  |2667666  |2766581  |3066882  |3291504  |3471152  |3762465  |4460017  |
|Slovenia                                        |4332049  |4707220  |5085308  |4656825  |4680456  |5106452  |5702306  |5887862  |6004623  |6529086  |
|Slovakia                                        |5058147  |5115168  |5144831  |3707327  |3749566  |3990300  |4039410  |4277598  |3852147  |4384800  |
|Finland                                         |5003750  |5328215  |5502554  |4890006  |5005068  |5507468  |5802959  |5860447  |5710702  |5510350  |
|Sweden                                          |10942968 |11200359 |10920106 |11317502 |11184995 |11344435 |11299455 |11442690 |12260712 |13612924 |
|United Kingdom                                  |90740612 |84690331 |80393221 |79920519 |84610527 |87993917 |105455528|:        |:        |:        |
|Iceland                                         |1687744  |1838330  |1894457  |2028069  |2089527  |2384477  |2873790  |3366252  |4404834  |5605634  |
|Liechtenstein                                   |155171   |167748   |171425   |158414   |150336   |148955   |136276   |132491   |130202   |110465   |
|Norway                                          |7921169  |8305287  |8119045  |7500431  |7881525  |7844241  |7940468  |7693241  |8451333  |8851422  |
|Switzerland                                     |:        |:        |:        |:        |:        |:        |:        |:        |:        |:        |
|Montenegro                                      |:        |:        |:        |:        |:        |2743414  |8143007  |:        |:        |10307371 |
|Former Yugoslav Republic of Macedonia, the      |:        |:        |579549   |575117   |548640   |740532   |794564   |864125   |900148   |1020943  |
|Serbia                                          |:        |:        |:        |:        |:        |:        |1766627  |1879208  |2074680  |2402065  |
|Turkey                                          |:        |:        |:        |:        |:        |:        |:        |89594261 |97581075 |96400316 |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [509]:
# Αντικαθηστώ το ":" με 0 για να βγουν σωστά οι μέσοι όροι
# και οποιοδήποτε αλλο string γινεται 0

year_columns = [col for col in spark_df.columns if col.startswith("20")]
for year_col in year_columns:
    spark_df = spark_df.withColumn(
        year_col,
        when(col(year_col).cast(FloatType()).isNotNull(), col(year_col).cast(FloatType())).otherwise(0.0)
    )

In [510]:
# Βλέπω ότι οπου ειχε string τώρα εχει 0
# Αρίθμηση χωρών απο
spark_df = spark_df.withColumn("id", monotonically_increasing_id() + 1)
cols = spark_df.columns
cols.remove("id")
cols.insert(0, "id")
spark_df = spark_df.select(cols)

# αφαίρεση της Ε7 δεκαδικής ακρίβειας
for year_col in year_columns:
    spark_df = spark_df.withColumn(year_col, col(year_col).cast("decimal(11,0)"))

spark_df.show(spark_df.count(), truncate=False)

+---+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|id |GEO/TIME                                        |2006     |2007     |2008     |2009     |2010     |2011     |2012     |2013     |2014     |2015     |
+---+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|1  |Belgium                                         |16039090 |16271311 |16360702 |15451017 |16169676 |16723867 |16432646 |16511721 |17068872 |18852088 |
|2  |Bulgaria                                        |11944694 |12006786 |11791454 |9460922  |10547112 |12426723 |13451440 |14370426 |14077798 |13352281 |
|3  |Czech Republic                                  |20090348 |20610186 |19987022 |17746892 |18365948 |19424840 |21793984 |22144896 |22110112 |23286516 |
|4  |Denmark                                         |9453026  |9327579  |8918197  |8299403  |8981992  |9491137  |9608124  |9914273  |10608119 |11171416 |
|5  |Germany (until 1990 former territory of the FRG)|52947372 |54485380 |56239680 |54096576 |59658760 |63081468 |68161504 |71191944 |74805256 |78827776 |
|6  |Estonia                                         |3020367  |2915456  |2932662  |2740696  |3203721  |3748865  |3823039  |3909326  |3919299  |3770207  |
|7  |Ireland                                         |21652000 |0        |0        |0        |0        |0        |11839245 |10871806 |11276424 |13462348 |
|8  |Greece                                          |43055380 |48081472 |47973948 |57413304 |59184396 |65514232 |61054384 |68992640 |74675152 |78254528 |
|9  |Spain                                           |224518080|225450240|223756224|200551728|213349648|239369168|243389008|252447760|259635792|269418112|
|10 |France                                          |105865432|108567040|106993808|98705216 |120390104|123227704|125038456|132251136|130908704|130465000|
|11 |Croatia                                         |32858014 |33701924 |33902736 |33357844 |33234882 |35389000 |57079968 |59378896 |61072660 |65683008 |
|12 |Italy                                           |156861344|163465680|161797440|159493872|165202496|176474064|180594992|184793376|186792512|192607936|
|13 |Cyprus                                          |13310257 |13197004 |13208954 |11666663 |12448158 |13112596 |13488127 |13152589 |12884399 |12550320 |
|14 |Latvia                                          |1872393  |1935984  |2115618  |1699562  |1912336  |2257021  |2429093  |2639434  |2875934  |2873885  |
|15 |Lithuania                                       |1514197  |1609998  |1626829  |1395899  |1571325  |1883003  |2680048  |2906201  |3033826  |3010727  |
|16 |Luxembourg                                      |2399913  |2328688  |2249545  |2075831  |1717130  |2057883  |2298068  |2313124  |2513585  |2655733  |
|17 |Hungary                                         |10045891 |10170808 |10009531 |9220148  |9358373  |9920339  |11392183 |11982883 |12351330 |12962395 |
|18 |Malta                                           |7094031  |7749831  |7581137  |6550794  |7208295  |7361449  |7498421  |8172407  |8428215  |8542055  |
|19 |Netherlands                                     |26886500 |27952200 |25267600 |25013700 |26799800 |27739000 |27845942 |31770508 |34423552 |37297588 |
|20 |Austria                                         |70017088 |71518640 |74730960 |72224608 |72585976 |73647328 |77158432 |78433544 |78099096 |80304960 |
|21 |Poland                                          |10555119 |10918100 |10173237 |9609447  |10064628 |10620264 |11876599 |12471268 |12992241 |13757657 |
|22 |Portugal                                        |26842276 |28669800 |28126716 |25024678 |25386084 |27860104 |29033970 |32078772 |35630344 |38897328 |
|23 |Romania                                         |3242105  |3586439  |3359244  |2667666  |2766581  |3066882  |3291504  |3471152  |3762465  |4460017  |
|24 |Slovenia                                        |4332049  |4707220  |5085308  |4656825  |4680456  |5106452  |5702306  |5887862  |6004623  |6529086  |
|25 |Slovakia                                        |5058147  |5115168  |5144831  |3707327  |3749566  |3990300  |4039410  |4277598  |3852147  |4384800  |
|26 |Finland                                         |5003750  |5328215  |5502554  |4890006  |5005068  |5507468  |5802959  |5860447  |5710702  |5510350  |
|27 |Sweden                                          |10942968 |11200359 |10920106 |11317502 |11184995 |11344435 |11299455 |11442690 |12260712 |13612924 |
|28 |United Kingdom                                  |90740608 |84690328 |80393224 |79920520 |84610528 |87993920 |105455528|0        |0        |0        |
|29 |Iceland                                         |1687744  |1838330  |1894457  |2028069  |2089527  |2384477  |2873790  |3366252  |4404834  |5605634  |
|30 |Liechtenstein                                   |155171   |167748   |171425   |158414   |150336   |148955   |136276   |132491   |130202   |110465   |
|31 |Norway                                          |7921169  |8305287  |8119045  |7500431  |7881525  |7844241  |7940468  |7693241  |8451333  |8851422  |
|32 |Switzerland                                     |0        |0        |0        |0        |0        |0        |0        |0        |0        |0        |
|33 |Montenegro                                      |0        |0        |0        |0        |0        |2743414  |8143007  |0        |0        |10307371 |
|34 |Former Yugoslav Republic of Macedonia, the      |0        |0        |579549   |575117   |548640   |740532   |794564   |864125   |900148   |1020943  |
|35 |Serbia                                          |0        |0        |0        |0        |0        |0        |1766627  |1879208  |2074680  |2402065  |
|36 |Turkey                                          |0        |0        |0        |0        |0        |0        |0        |89594264 |97581072 |96400320 |
+---+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [511]:
# Ερωτημα 3.1 

year_columns = [str(year) for year in range(2007, 2015)]

In [512]:
# Βρίσκω τον μέσο όρο των στηλών για κάθε χρονο

average_columns = [col(column) for column in year_columns]
average_column = sum(average_columns) / len(average_columns)

In [513]:
# Βάζω το GEO/TIME στην group by για να βρω τον μέσο όρο των χωρών

result = spark_df.select("GEO/TIME", average_column.alias("AverageTourists")) \
    .groupBy("GEO/TIME").avg("AverageTourists")

In [514]:
# Αποτέλεσμα 3.1

# Ακρίβεια τρίων δεκαδικών ψηφίων
result = result.withColumn("avg(AverageTourists)", col("avg(AverageTourists)").cast("decimal(11,3)"))

result.show(truncate=False)

+------------------------------------------+--------------------+
|GEO/TIME                                  |avg(AverageTourists)|
+------------------------------------------+--------------------+
|Sweden                                    |11371281.750        |
|Turkey                                    |23396917.000        |
|France                                    |NULL                |
|Greece                                    |60361191.000        |
|Slovakia                                  |4234543.375         |
|Belgium                                   |16373726.500        |
|Finland                                   |5450927.375         |
|Malta                                     |7568818.625         |
|Croatia                                   |43389738.750        |
|Italy                                     |NULL                |
|Lithuania                                 |2088391.125         |
|Norway                                    |7966946.375         |
|Spain                                     |NULL                |
|Former Yugoslav Republic of Macedonia, the|625334.375          |
|Denmark                                   |9393603.000         |
|Ireland                                   |4248434.375         |
|Liechtenstein                             |149480.875          |
|Iceland                                   |2609967.000         |
|Cyprus                                    |12894811.250        |
|Estonia                                   |3399133.000         |
+------------------------------------------+--------------------+
only showing top 20 rows

In [515]:
# Ερώτημα 3.2

def compare_tourist_counts(countries):
    # Get the columns representing years
    year_columns = spark_df.columns[1:]  # Exclude the first column which should be the country names

    # Collect the country rows as a list
    data_rows = spark_df.collect()

    # Initialize a dictionary to store the results
    result = {country: [] for country in countries}

    # Compare tourist counts for each selected country against Greece
    for country in countries:
        country_row = [row for row in data_rows if row[0] == country]

        if country_row:
            country_row = country_row[0]
            for idx, year in enumerate(year_columns):
                year_val = int(year)  # Convert column names to integers for comparison
                greece_val = int([row for row in data_rows if row[0] == "Greece"][0][idx + 1])

                if country_row[idx + 1] < greece_val:  # Compare if the country value is less than Greece
                    result[country].append(year_val)

    return result

In [516]:
# Έβαλα τις πρώτες 5 χώρες
selected_countries = ["Belgium", "Bulgaria", "Czech Republic", "Denmark", "Germany (until 1990 former territory of the FRG)"]
result = compare_tourist_counts(selected_countries)

# Print the years where Greece had higher tourist counts than the selected countries
for country, years in result.items():
    if len(years) > 0:
        print(f"Για {len(years)} χρόνια, Η Ελλάδα είχε αριθμό διανυκτερεύσεων μεγαλύτερο απο αυτην την χώρα '{country}' , Οι συγκεκριμένες χρονιές: {years}")
    else:
        print(f"Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα '{country}'")

Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα 'Belgium'
Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα 'Bulgaria'
Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα 'Czech Republic'
Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα 'Denmark'
Η Ελλάδα δεν ειχε ποτε μεγαλύτερο αριθμό διανυκτερεύσεων απο την χώρα 'Germany (until 1990 former territory of the FRG)'