In [89]:
# Ελεγχος version pyspark .. Θέλουμε το 3.4.1
import pyspark
print(pyspark.__version__)

3.4.1

In [90]:
# add java to path .. δεν μπορουσα να βρω αλλον τροπο να τρέξει η spark.
# (θελουμε την Java 17 επειδη μονο η Java 8 , Java 11 και Java 17 δουλευει με το pyspark)
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-17"
os.environ["PATH"] += ";C:\\Program Files\\Java\\jdk-17\\bin"

In [91]:
from pyspark.sql import SparkSession
import pandas as pd

In [92]:
# Διαβάζομε τα δεδομένα

tour_occ_ninat = "data/tour_occ_ninat.xlsx"

excel_data = pd.read_excel(tour_occ_ninat, header=8)

In [93]:
excel_data.to_csv("data/excel_data.csv", index=False)

                                            GEO/TIME       2006       2007       2008       2009       2010       2011       2012       2013       2014       2015
0                                            Belgium   16039090   16271311   16360702   15451017   16169676   16723867   16432646   16511721   17068872   18852087
1                                           Bulgaria   11944694   12006786   11791454    9460922   10547112   12426723   13451440   14370426   14077798   13352281
2                                     Czech Republic   20090348   20610186   19987022   17746893   18365947   19424839   21793985   22144896   22110112   23286515
3                                            Denmark    9453026    9327579    8918197    8299403    8981992    9491137    9608124    9914273   10608119   11171416
4   Germany (until 1990 former territory of the FRG)   52947373   54485379   56239679   54096574   59658760   63081467   68161503   71191942   74805253   78827773
5                                            Estonia    3020367    2915456    2932662    2740696    3203721    3748865    3823039    3909326    3919299    3770207
6                                            Ireland   21652000          :          :          :          :          :   11839245   10871806   11276424   13462348
7                                             Greece   43055381   48081473   47973949   57413304   59184397   65514230   61054383   68992640   74675156   78254524
8                                              Spain  224518083  225450241  223756216  200551728  213349649  239369167  243389006  252447766  259635794  269418103
9                                             France  105865432  108567043  106993811   98705212  120390105  123227704  125038453  132251136  130908700  130464997
10                                           Croatia   32858014   33701925   33902735   33357844   33234882   35389002   57079967   59378896   61072661   65683010
11                                             Italy  156861341  163465680  161797434  159493866  165202498  176474062  180594988  184793382  186792507  192607930
12                                            Cyprus   13310257   13197004   13208954   11666663   12448158   13112596   13488127   13152589   12884399   12550320
13                                            Latvia    1872393    1935984    2115618    1699562    1912336    2257021    2429093    2639434    2875934    2873885
14                                         Lithuania    1514197    1609998    1626829    1395899    1571325    1883003    2680048    2906201    3033826    3010727
15                                        Luxembourg    2399913    2328688    2249545    2075831    1717130    2057883    2298068    2313124    2513585    2655733
16                                           Hungary   10045891   10170808   10009531    9220148    9358373    9920339   11392183   11982883   12351330   12962395
17                                             Malta    7094031    7749831    7581137    6550794    7208295    7361449    7498421    8172407    8428215    8542055
18                                       Netherlands   26886500   27952200   25267600   25013700   26799800   27739000   27845942   31770508   34423552   37297588
19                                           Austria   70017089   71518637   74730956   72224605   72585976   73647325   77158431   78433546   78099096   80304956
20                                            Poland   10555119   10918100   10173237    9609447   10064628   10620264   11876599   12471268   12992241   13757657
21                                          Portugal   26842277   28669799   28126716   25024678   25386084   27860103   29033970   32078773   35630345   38897329
22                                           Romania    3242105    3586439    3359244    2667666    2766581    3066882    3291504    3471152    3762465    4460017
23                                          Slovenia    4332049    4707220    5085308    4656825    4680456    5106452    5702306    5887862    6004623    6529086
24                                          Slovakia    5058147    5115168    5144831    3707327    3749566    3990300    4039410    4277598    3852147    4384800
25                                           Finland    5003750    5328215    5502554    4890006    5005068    5507468    5802959    5860447    5710702    5510350
26                                            Sweden   10942968   11200359   10920106   11317502   11184995   11344435   11299455   11442690   12260712   13612924
27                                    United Kingdom   90740612   84690331   80393221   79920519   84610527   87993917  105455528          :          :          :
28                                           Iceland    1687744    1838330    1894457    2028069    2089527    2384477    2873790    3366252    4404834    5605634
29                                     Liechtenstein     155171     167748     171425     158414     150336     148955     136276     132491     130202     110465
30                                            Norway    7921169    8305287    8119045    7500431    7881525    7844241    7940468    7693241    8451333    8851422
31                                       Switzerland          :          :          :          :          :          :          :          :          :          :
32                                        Montenegro          :          :          :          :          :    2743414    8143007          :          :   10307371
33        Former Yugoslav Republic of Macedonia, the          :          :     579549     575117     548640     740532     794564     864125     900148    1020943
34                                            Serbia          :          :          :          :          :          :    1766627    1879208    2074680    2402065
35                                            Turkey          :          :          :          :          :          :          :   89594261   97581075   96400316

In [94]:
# Φτιάχνουμε ενα spark session
spark = SparkSession.builder.appName("EurostatAnalysis").getOrCreate()

In [95]:
# Φτιάχνουμε ενα spark dataframe
spark_df = spark.read.option("header", "true").csv("data/excel_data.csv")

In [96]:
spark_df.show(truncate=False)

+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|GEO/TIME                                        |2006     |2007     |2008     |2009     |2010     |2011     |2012     |2013     |2014     |2015     |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Belgium                                         |16039090 |16271311 |16360702 |15451017 |16169676 |16723867 |16432646 |16511721 |17068872 |18852087 |
|Bulgaria                                        |11944694 |12006786 |11791454 |9460922  |10547112 |12426723 |13451440 |14370426 |14077798 |13352281 |
|Czech Republic                                  |20090348 |20610186 |19987022 |17746893 |18365947 |19424839 |21793985 |22144896 |22110112 |23286515 |
|Denmark                                         |9453026  |9327579  |8918197  |8299403  |8981992  |9491137  |9608124  |9914273  |10608119 |11171416 |
|Germany (until 1990 former territory of the FRG)|52947373 |54485379 |56239679 |54096574 |59658760 |63081467 |68161503 |71191942 |74805253 |78827773 |
|Estonia                                         |3020367  |2915456  |2932662  |2740696  |3203721  |3748865  |3823039  |3909326  |3919299  |3770207  |
|Ireland                                         |21652000 |:        |:        |:        |:        |:        |11839245 |10871806 |11276424 |13462348 |
|Greece                                          |43055381 |48081473 |47973949 |57413304 |59184397 |65514230 |61054383 |68992640 |74675156 |78254524 |
|Spain                                           |224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|France                                          |105865432|108567043|106993811|98705212 |120390105|123227704|125038453|132251136|130908700|130464997|
|Croatia                                         |32858014 |33701925 |33902735 |33357844 |33234882 |35389002 |57079967 |59378896 |61072661 |65683010 |
|Italy                                           |156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|Cyprus                                          |13310257 |13197004 |13208954 |11666663 |12448158 |13112596 |13488127 |13152589 |12884399 |12550320 |
|Latvia                                          |1872393  |1935984  |2115618  |1699562  |1912336  |2257021  |2429093  |2639434  |2875934  |2873885  |
|Lithuania                                       |1514197  |1609998  |1626829  |1395899  |1571325  |1883003  |2680048  |2906201  |3033826  |3010727  |
|Luxembourg                                      |2399913  |2328688  |2249545  |2075831  |1717130  |2057883  |2298068  |2313124  |2513585  |2655733  |
|Hungary                                         |10045891 |10170808 |10009531 |9220148  |9358373  |9920339  |11392183 |11982883 |12351330 |12962395 |
|Malta                                           |7094031  |7749831  |7581137  |6550794  |7208295  |7361449  |7498421  |8172407  |8428215  |8542055  |
|Netherlands                                     |26886500 |27952200 |25267600 |25013700 |26799800 |27739000 |27845942 |31770508 |34423552 |37297588 |
|Austria                                         |70017089 |71518637 |74730956 |72224605 |72585976 |73647325 |77158431 |78433546 |78099096 |80304956 |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows