In [90]:
# Ελεγχος version pyspark .. Θέλουμε το 3.4.1
import pyspark
print(pyspark.__version__)

3.4.1

In [91]:
# add java to path .. δεν μπορουσα να βρω αλλον τροπο να τρέξει η spark.
# (θελουμε την Java 17 επειδη μονο η Java 8 , Java 11 και Java 17 δουλευει με το pyspark)
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-17"
os.environ["PATH"] += ";C:\\Program Files\\Java\\jdk-17\\bin"

In [92]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.types import FloatType
import pandas as pd

In [93]:
# Διαβάζομε τα δεδομένα

tour_occ_ninat = "data/tour_occ_ninat.xlsx"

excel_data = pd.read_excel(tour_occ_ninat, header=8)

In [94]:
# Κάνω το excel σε csv για να το βαλω στην spark , επειδη δεν μου δουλευε το spark-excel

excel_data.to_csv("data/excel_data.csv", index=False)

In [95]:
# Φτιάχνουμε ενα spark session
spark = SparkSession.builder.appName("EurostatAnalysis").getOrCreate()

In [96]:
# Διαβαζουμε το csv με την spark
spark_df = spark.read.option("header", "true").csv("data/excel_data.csv")

In [97]:
# Ενα print για να δουμε οτι διαβασαμε σωστα τα δεδομενα
spark_df.show(truncate=False)

+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|GEO/TIME                                        |2006     |2007     |2008     |2009     |2010     |2011     |2012     |2013     |2014     |2015     |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Belgium                                         |16039090 |16271311 |16360702 |15451017 |16169676 |16723867 |16432646 |16511721 |17068872 |18852087 |
|Bulgaria                                        |11944694 |12006786 |11791454 |9460922  |10547112 |12426723 |13451440 |14370426 |14077798 |13352281 |
|Czech Republic                                  |20090348 |20610186 |19987022 |17746893 |18365947 |19424839 |21793985 |22144896 |22110112 |23286515 |
|Denmark                                         |9453026  |9327579  |8918197  |8299403  |8981992  |9491137  |9608124  |9914273  |10608119 |11171416 |
|Germany (until 1990 former territory of the FRG)|52947373 |54485379 |56239679 |54096574 |59658760 |63081467 |68161503 |71191942 |74805253 |78827773 |
|Estonia                                         |3020367  |2915456  |2932662  |2740696  |3203721  |3748865  |3823039  |3909326  |3919299  |3770207  |
|Ireland                                         |21652000 |:        |:        |:        |:        |:        |11839245 |10871806 |11276424 |13462348 |
|Greece                                          |43055381 |48081473 |47973949 |57413304 |59184397 |65514230 |61054383 |68992640 |74675156 |78254524 |
|Spain                                           |224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|France                                          |105865432|108567043|106993811|98705212 |120390105|123227704|125038453|132251136|130908700|130464997|
|Croatia                                         |32858014 |33701925 |33902735 |33357844 |33234882 |35389002 |57079967 |59378896 |61072661 |65683010 |
|Italy                                           |156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|Cyprus                                          |13310257 |13197004 |13208954 |11666663 |12448158 |13112596 |13488127 |13152589 |12884399 |12550320 |
|Latvia                                          |1872393  |1935984  |2115618  |1699562  |1912336  |2257021  |2429093  |2639434  |2875934  |2873885  |
|Lithuania                                       |1514197  |1609998  |1626829  |1395899  |1571325  |1883003  |2680048  |2906201  |3033826  |3010727  |
|Luxembourg                                      |2399913  |2328688  |2249545  |2075831  |1717130  |2057883  |2298068  |2313124  |2513585  |2655733  |
|Hungary                                         |10045891 |10170808 |10009531 |9220148  |9358373  |9920339  |11392183 |11982883 |12351330 |12962395 |
|Malta                                           |7094031  |7749831  |7581137  |6550794  |7208295  |7361449  |7498421  |8172407  |8428215  |8542055  |
|Netherlands                                     |26886500 |27952200 |25267600 |25013700 |26799800 |27739000 |27845942 |31770508 |34423552 |37297588 |
|Austria                                         |70017089 |71518637 |74730956 |72224605 |72585976 |73647325 |77158431 |78433546 |78099096 |80304956 |
+------------------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [98]:
# Αντικαθηστώ το ":" με 0 για να βγουν σωστά οι μέση όροι
# και οποιοδήποτε αλλο string γινεται 0

year_columns = [col for col in spark_df.columns if col.startswith("20")]
for year_col in year_columns:
    spark_df = spark_df.withColumn(
        year_col,
        when(col(year_col).cast(FloatType()).isNotNull(), col(year_col).cast(FloatType())).otherwise(0.0)
    )

In [99]:
# Βλέπω ότι οπου ειχε string τώρα εχει 0

spark_df.show(truncate=False)

+------------------------------------------------+------------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+
|GEO/TIME                                        |2006        |2007       |2008        |2009        |2010        |2011        |2012        |2013        |2014        |2015        |
+------------------------------------------------+------------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+
|Belgium                                         |1.603909E7  |1.6271311E7|1.6360702E7 |1.5451017E7 |1.6169676E7 |1.6723867E7 |1.6432646E7 |1.6511721E7 |1.7068872E7 |1.8852088E7 |
|Bulgaria                                        |1.1944694E7 |1.2006786E7|1.1791454E7 |9460922.0   |1.0547112E7 |1.2426723E7 |1.345144E7  |1.4370426E7 |1.4077798E7 |1.3352281E7 |
|Czech Republic                                  |2.0090348E7 |2.0610186E7|1.9987022E7 |1.7746892E7 |1.8365948E7 |1.942484E7  |2.1793984E7 |2.2144896E7 |2.2110112E7 |2.3286516E7 |
|Denmark                                         |9453026.0   |9327579.0  |8918197.0   |8299403.0   |8981992.0   |9491137.0   |9608124.0   |9914273.0   |1.0608119E7 |1.1171416E7 |
|Germany (until 1990 former territory of the FRG)|5.2947372E7 |5.448538E7 |5.623968E7  |5.4096576E7 |5.965876E7  |6.3081468E7 |6.8161504E7 |7.1191944E7 |7.4805256E7 |7.8827776E7 |
|Estonia                                         |3020367.0   |2915456.0  |2932662.0   |2740696.0   |3203721.0   |3748865.0   |3823039.0   |3909326.0   |3919299.0   |3770207.0   |
|Ireland                                         |2.1652E7    |0.0        |0.0         |0.0         |0.0         |0.0         |1.1839245E7 |1.0871806E7 |1.1276424E7 |1.3462348E7 |
|Greece                                          |4.305538E7  |4.8081472E7|4.7973948E7 |5.7413304E7 |5.9184396E7 |6.5514232E7 |6.1054384E7 |6.899264E7  |7.4675152E7 |7.8254528E7 |
|Spain                                           |2.2451808E8 |2.2545024E8|2.23756224E8|2.00551728E8|2.13349648E8|2.39369168E8|2.43389008E8|2.5244776E8 |2.59635792E8|2.69418112E8|
|France                                          |1.05865432E8|1.0856704E8|1.06993808E8|9.8705216E7 |1.20390104E8|1.23227704E8|1.25038456E8|1.32251136E8|1.30908704E8|1.30465E8   |
|Croatia                                         |3.2858014E7 |3.3701924E7|3.3902736E7 |3.3357844E7 |3.3234882E7 |3.5389E7    |5.7079968E7 |5.9378896E7 |6.107266E7  |6.5683008E7 |
|Italy                                           |1.56861344E8|1.6346568E8|1.6179744E8 |1.59493872E8|1.65202496E8|1.76474064E8|1.80594992E8|1.84793376E8|1.86792512E8|1.92607936E8|
|Cyprus                                          |1.3310257E7 |1.3197004E7|1.3208954E7 |1.1666663E7 |1.2448158E7 |1.3112596E7 |1.3488127E7 |1.3152589E7 |1.2884399E7 |1.255032E7  |
|Latvia                                          |1872393.0   |1935984.0  |2115618.0   |1699562.0   |1912336.0   |2257021.0   |2429093.0   |2639434.0   |2875934.0   |2873885.0   |
|Lithuania                                       |1514197.0   |1609998.0  |1626829.0   |1395899.0   |1571325.0   |1883003.0   |2680048.0   |2906201.0   |3033826.0   |3010727.0   |
|Luxembourg                                      |2399913.0   |2328688.0  |2249545.0   |2075831.0   |1717130.0   |2057883.0   |2298068.0   |2313124.0   |2513585.0   |2655733.0   |
|Hungary                                         |1.0045891E7 |1.0170808E7|1.0009531E7 |9220148.0   |9358373.0   |9920339.0   |1.1392183E7 |1.1982883E7 |1.235133E7  |1.2962395E7 |
|Malta                                           |7094031.0   |7749831.0  |7581137.0   |6550794.0   |7208295.0   |7361449.0   |7498421.0   |8172407.0   |8428215.0   |8542055.0   |
|Netherlands                                     |2.68865E7   |2.79522E7  |2.52676E7   |2.50137E7   |2.67998E7   |2.7739E7    |2.7845942E7 |3.1770508E7 |3.4423552E7 |3.7297588E7 |
|Austria                                         |7.0017088E7 |7.151864E7 |7.473096E7  |7.2224608E7 |7.2585976E7 |7.3647328E7 |7.7158432E7 |7.8433544E7 |7.8099096E7 |8.030496E7  |
+------------------------------------------------+------------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+
only showing top 20 rows

In [100]:
# Ερωτημα 3.1 

year_columns = [str(year) for year in range(2007, 2015)]

In [101]:
# Βρίσκω τον μέσο όρο των στηλών για κάθε χρονο

average_columns = [col(column) for column in year_columns]
average_column = sum(average_columns) / len(average_columns)

In [102]:
# Βάζω το GEO/TIME στην group by για να βρω τον μέσο όρο των χωρών

result = spark_df.select("GEO/TIME", average_column.alias("AverageTourists")) \
    .groupBy("GEO/TIME").avg("AverageTourists")

In [103]:
# Αποτέλεσμα 3.1

result.show(truncate=False)

+------------------------------------------+--------------------+
|GEO/TIME                                  |avg(AverageTourists)|
+------------------------------------------+--------------------+
|Sweden                                    |1.137128175E7       |
|Turkey                                    |2.3396917E7         |
|France                                    |1.18260271E8        |
|Greece                                    |6.0361191E7         |
|Slovakia                                  |4234543.375         |
|Belgium                                   |1.63737265E7        |
|Finland                                   |5450927.375         |
|Malta                                     |7568818.625         |
|Croatia                                   |4.338973875E7       |
|Italy                                     |1.72326804E8        |
|Lithuania                                 |2088391.125         |
|Norway                                    |7966946.375         |
|Spain                                     |2.32243696E8        |
|Former Yugoslav Republic of Macedonia, the|625334.375          |
|Denmark                                   |9393603.0           |
|Ireland                                   |4248434.375         |
|Liechtenstein                             |149480.875          |
|Iceland                                   |2609967.0           |
|Cyprus                                    |1.289481125E7       |
|Estonia                                   |3399133.0           |
+------------------------------------------+--------------------+
only showing top 20 rows